@{
    ViewData["Title"] = "Profile";
    Layout = "_LayoutApp";
    
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="~/admin">Admin</a></li>
                    <li class="breadcrumb-item"><a href="~/admin/settings">Setting</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
        </div>

        <div class="col-12">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@ViewData["Title"]<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox flex-row-reverse">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="form-edit-account-profile" class="form-horizontal form-label-left">
                        <input id="accountId" type="hidden" value="@ViewBag.AccountId" />
                        <input id="accountPassword"  type="hidden" value="@ViewBag.AccountPassword" />
                        <div class="form-group">
                            <label for="inputName">Full Name</label>
                            <input id="inputName" type="text" class="form-control" value="@ViewBag.AccountName">
                            <div class="invalid-feedback">
                                <span id="messageName"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <input id="inputUsername" type="text" class="form-control" value="@ViewBag.AccountUsername">
                            <div class="invalid-feedback">
                                <span id="messageUsername"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input id="inputEmail" type="text" class="form-control" value="@ViewBag.AccountEmail">
                            <div class="invalid-feedback">
                                <span id="messageEmail"></span>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-12 col-sm-12">
                                <button type="submit" class="btn btn-success float-right">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
